.container {
   border: 1px solid red;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 5px;
   border-radius: 5px;
   color: red;
   background: rgba(255, 0, 0, 0.068);
   margin: 10px 0;
}
.message {
    width: 92%;
}
.close_icon {
    border-left: 1px solid rgba(255, 0, 0, 0.39);
    width: 8%;
    cursor: pointer;
    font-size: 1.2em;
}