.container {
    width: calc(100% - 40px);
    height: calc(100% - 8%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgb(200, 200, 200, .1);
    padding: 4% 20px;
}
.top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    position: relative;
} 
.title {
    font-weight: 600;
    color: var(--grey-text);
    cursor: pointer;
}
.menu {
    font-size: 120%;
    color: var(--grey-text);
    cursor: pointer;
}
.menu_container {
    position: absolute;
    width: 50%;
    padding: 3% 0;
    right: 0;
    top: 0;
    background: white;
    box-shadow: 0px 0px 3px 3px lightgrey;
    border-radius: 3px;
}
.menu_container > div {
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
    border-top: 1px solid lightgrey;
    cursor: pointer;
}
.menu_container > div:nth-child(1) {
    border-top: none;
}
.menu_container > div:last-child {
    border-bottom: none;
}
.menu_container > div:hover {
    background: var(--grey-background-faded);
}

.info_wrapper {
    cursor: pointer;
}
.meta_info {
    font-size: 80%;
    color: var(--grey-text);
    font-weight: 500;
    display: flex;
    align-items: center;
}
.user {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
.assignee {
    text-transform: capitalize;
}
.desc {
    font-size: 0.85em;
    margin-top: 15px;
    color: var(--grey-text);
}
.action {
    display: flex;
    margin: 15px 0;
}
.comments {
    display: flex;
}
.comment_icon {
    font-size: 120%;
    color: var(--orange-icon);
}
.digit {
    margin-left: 4px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--grey-text);
}
.no_comment {
    font-size: 0.8em;
    margin: auto 0;
    font-weight: 400;
    color: var(--grey-text);
}

.teamlist_wrapper {
    margin-left: auto;
    margin-right: 30%;
}